### Findings

**NOTE:** Column names will be referred by attaching their dataset name after an underscore, to easily identify which dataset that column belongs in.

- There are **10463** unique items, same as the number of rows in the `infos` and `items` datasets. 
- There are a total of **2181955** orders over a period of 6 months. 
- Only **1843** items were put on promotion, judging by the number of non-null entries in the `promotion_infos` column.
- There are no empty entries in all three datasets, except for the non-promoted items.
- The `itemID` column is shared across all three datasets.
- There are three different prices: `simulationPrice_infos`, `recommendedRetailPrice_items` and `salesPrice_orders`.
- Categorical features are `order_orders`, `brand + manufacturer + category1 + category2 + category3_items` 
- Numerical features are `customerRating_items` and the three `Price` columns.
- Datetime features are `time_orders` and comma-separated `promotion_infos`.


### Tasks 

- Converted `time_orders` to `datetime` type to reduce memory usage.
- Saved the modified `orders` dataset to home directory (not the original DMC-2020 folder) in pickle format.
- Saved `infos` and `items` to home directory in pickle format as well. Pickling will drastically reduce time spent on reading in datasets.

**Ismail Dawoodjee 11:27 AM 26-May-2020**

# Data Inspection

Import libraries, read data from original folder, copy datasets and inspect them.

- `infos` dataset: contains list of items, their price and promo dates
- `items` dataset: contains descriptive features of all items
- `orders` dataset: contains all item orders over 6 months

In [8]:
import numpy as np
import pandas as pd

In [47]:
infos  = pd.read_csv('../DMC-2020-Task/DMC20_Data/infos.csv', sep = '|') 
items  = pd.read_csv('../DMC-2020-Task/DMC20_Data/items.csv', sep = '|') 
orders = pd.read_csv('../DMC-2020-Task/DMC20_Data/orders.csv', sep = '|')

In [3]:
infos_original  = infos.copy()
items_original  = items.copy()  
orders_original = orders.copy()

In [4]:
infos.shape, items.shape, orders.shape

((10463, 3), (10463, 8), (2181955, 5))

In [5]:
list(infos.columns), list(items.columns), list(orders.columns)

(['itemID', 'simulationPrice', 'promotion'],
 ['itemID',
  'brand',
  'manufacturer',
  'customerRating',
  'category1',
  'category2',
  'category3',
  'recommendedRetailPrice'],
 ['time', 'transactID', 'itemID', 'order', 'salesPrice'])

In [6]:
infos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10463 entries, 0 to 10462
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   itemID           10463 non-null  int64
 1   simulationPrice  10463 non-null  float64
 2   promotion        1843 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 245.4+ KB

In [7]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10463 entries, 0 to 10462
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   itemID                  10463 non-null  int64
 1   brand                   10463 non-null  int64
 2   manufacturer            10463 non-null  int64
 3   customerRating          10463 non-null  float64
 4   category1               10463 non-null  int64
 5   category2               10463 non-null  int64
 6   category3               10463 non-null  int64
 7   recommendedRetailPrice  10463 non-null  float64
dtypes: float64(2), int64(6)
memory usage: 654.1 KB

In [8]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2181955 entries, 0 to 2181954
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   time        object
 1   transactID  int64
 2   itemID      int64
 3   order       int64
 4   salesPrice  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 83.2+ MB

In [23]:
orders.isnull().sum()

time          0
transactID    0
itemID        0
order         0
salesPrice    0
dtype: int64

In [9]:
infos.head()

   itemID  simulationPrice promotion
0       1             3.43       NaN
1       2             9.15       NaN
2       3            14.04       NaN
3       4            14.10       NaN
4       5             7.48       NaN

In [10]:
items.head()

,itemID,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice
0,1,0,1,4.38,1,1,1,8.84
1,2,0,2,3.00,1,2,1,16.92
2,3,0,3,5.00,1,3,1,15.89
3,4,0,2,4.44,1,2,1,40.17
4,5,0,2,2.33,1,1,1,17.04

In [11]:
orders.head()

                  time  transactID  itemID  order  salesPrice
0  2018-01-01 00:01:56     2278968     450      1       17.42
1  2018-01-01 00:01:56     2278968      83      1        5.19
2  2018-01-01 00:07:11     2255797    7851      2       20.47
3  2018-01-01 00:09:24     2278968     450      1       17.42
4  2018-01-01 00:09:24     2278968      83      1        5.19

In [13]:
infos['itemID'].nunique()

10463

- Convert `time_orders` from object to datetime and save the modified `orders` dataset to home directory in pickle format (not in the original DMC-2020 folder). Do the same for the other datasets as well.

In [54]:
orders['time'] = pd.to_datetime(orders['time'], infer_datetime_format = True)

In [57]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2181955 entries, 0 to 2181954
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   time        datetime64[ns]
 1   transactID  int64
 2   itemID      int64
 3   order       int64
 4   salesPrice  float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 83.2 MB

In [59]:
infos.to_pickle('../DMC-2020-Task/infos.pkl')
items.to_pickle('../DMC-2020-Task/items.pkl')
orders.to_pickle('../DMC-2020-Task/orders.pkl')

In [5]:
p1 = pd.read_csv('promo1.csv')

In [6]:
p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   itemID           1653 non-null   int64
 1   simulationPrice  1653 non-null   float64
 2   promotion        1653 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 38.9+ KB

In [4]:
pd.read_pickle('infos.pkl')

       itemID  simulationPrice promotion
0           1             3.43       NaN
1           2             9.15       NaN
2           3            14.04       NaN
3           4            14.10       NaN
4           5             7.48       NaN
...       ...              ...       ...
10458   10459            14.71       NaN
10459   10460           325.67       NaN
10460   10461           190.53       NaN
10461   10462           304.30       NaN
10462   10463           282.16       NaN

[10463 rows x 3 columns]